BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
